*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;

}
a{
    text-decoration: none;
    color: #ffffff;
}
.main-header{
    background-color: #000000;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}
.wrapper{
    display: flex;
    align-items: center;
    gap: 30px;
}
.logo a{
    font-weight: 700;
    font-size: 2.01em;
    letter-spacing: 2px;
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
    align-items: center;

}
nav ul a{
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 100;
    padding: 15px 0;
    letter-spacing: 2px;
    cursor: pointer;
    position: relative;
}
nav ul a:hover{
    color: #999;
    border-bottom: 3px solid #ffffff;
    transition:  0.3s ease;
}
.social-icons{
    display: flex;
    gap: 25px;
    align-items: center;
}
.social-icons a svg{
    display: block;
    align-items: center;
    gap: 20px;
    width: 25px;
    height: 25px;
    fill: white;
}
.social-icons a:hover {
    opacity: 0.7;
    transition:  0.3s ease;
}
.container{
    display: flex;
    background-color: orangered;
    height: 100vh;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("/.idea/img/Baskethoop.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
}
.htxt{
    color: white;
    position: absolute;
    bottom: 80px;
    left: 80px;
    max-width: 800px;
    color: white;
}
.line{
    display: block;
    width: 210px;
    height: 3px;
    background-color: white;
    align-items: center;
}
.album-topic{
    display: flex;
    font-size: 1rem;
    font-weight: 150;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 30px;
    align-items: center;
    gap: 15px;
}
.album-title{
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 4.01em;
    letter-spacing: 7px;
    transform: scaley(1.2); /* Scales the text 115% wider */
    display: inline-block;  /* Required for the transform to work reliably */

    /* Optional: Shift the text slightly to re-align it after stretching */
    transform-origin: left;
}
.album-buttons{
    display: flex;
    gap: 23px;
    font-size: 1rem;
}
.album-buttons .btn{
    padding: 8px 10px;
}
.album-buttons .stream, .album-buttons .download{
    border-right: 1px solid white;
}
.
.album-buttons .btn:hover{
    opacity: 0.7;
    transition:  0.3s ease;
}
