*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;

}
a{
    text-decoration: none;
    color: #ffffff;
}
.main-header{
    background-color: #000000;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}
.wrapper{
    display: flex;
    align-items: center;
    gap: 30px;
}
.logo a{
    font-weight: 700;
    font-size: 2.01em;
    letter-spacing: 2px;
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
    align-items: center;

}
nav ul a{
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 100;
    padding: 15px 0;
    letter-spacing: 2px;
    cursor: pointer;
    position: relative;
}
nav ul a:hover{
    color: #999;
    border-bottom: 3px solid #ffffff;
    transition:  0.3s ease;
}
.social-icons{
    display: flex;
    gap: 25px;
    align-items: center;
}
.social-icons a svg{
    display: block;
    align-items: center;
    gap: 20px;
    width: 25px;
    height: 25px;
    fill: white;
}
.social-icons a:hover {
    opacity: 0.7;
    transition:  0.3s ease;
}

