*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}
body{
    font-family: 'Montserrat', sans-serif;

}
a{
    text-decoration: none;
    color: #ffffff;
}
.main-header{
    border-bottom: 1px solid #333;
    background-color: #000000;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.wrapper{
    display: flex;
    align-items: center;
    gap: 30px;
}
.logo a{
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: 2px;
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 25px;
}

